/* Google Font CDN - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
    padding: 16px 16px 0;
    margin: 55px 0 0 0;
    font-size: 14px;
    color: black;
    background-color: white;
}

.header {
    position: fixed;
    top: 0;
    left:0;
    background-color:#fff;
    z-index: 1;
    width: 100%;
    box-shadow: 0 1px 0 rgb(0, 0, 0, 0.15);
}

.video_items video {
    width: 215px;
    height: 170px;
}

.video_items a img {
    width: 296px;
    height: 170px;
    object-fit: cover;
}

.video_items .detail {
    margin-top: 15px;
}

.video_items .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid black;
    margin: 10px 20px 0 0;
}

.video_items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.fa-check-circle {
    color: rgba(0, 165, 255, 0.8);
}

.video_items .heading {
    width: 80%;
    color: black;
}

.video_items p {
    margin: 0;
}

.video_items span {
    margin: 0;
    color: gray;
    font-size: 13px;
    font-weight: 500;
}

.flex {
    display: flex;
}

/* iPad Responsiveness */


