/* Google Font CDN - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", "sans-serif";
}

.material-icons {
    color: rgb(96, 96, 96)
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header__left {
    display: flex;
    align-items: center;
}

.header__left img {
    width: 100px;
    margin-left: 15px;
}

.header i {
    padding: 0 7px;
    cursor: pointer;
}

.header__search form {
    border: 1px solid #dddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
}

.header__search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    height: 100%;
}

.header__search button {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
}

/* main Body */

.main_body {
    display: flex;
    height: calc(100vh - 70px)
    overflow: hidden;
}

/* Sidebar Section */

.sidebar {
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
}

.sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar__category {
    display: flex;
    align-items: center;
    padding: 13px 25px;
}

.sidebar__category span {
    margin-left: 10px;
}

.sidebar__category span:hover {
    background: white;
    cursor: pointer;
}

hr {
    height: 1px;
    background: #e5e5e5;
    border: none;
}

/* Video Section */

.videos {
    background: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-top: 1px solid #ddd;
    overflow-y: scroll;
}

.dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown-content-background {
    background-color: rgb(85, 85, 85);
    padding: 15px;
    border-radius: 5px;
    z-index: 2;
    /* display: none;*/

}

.dropdown-content {
    display: flex;
    align-items: center;
    padding: 5px;
    border: 2px solid red;
}

.dropdown-content i {
    color: white;
    margin-right: 7px;
}

.dropdown-content span {
    color: white;
    margin-left: 5px;
}

.show-dropdown {
    display: inline;
    z-index: 2;
    position: relative;
}

/* ---------------Video Container --------- */
